body {
  font-family: sans-serif;
}

html {
  background-color: rgb(20, 40, 69);
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  box-sizing: border-box;
}